{% extends 'base.html' %}

{% load static %}
{% block body %}




	<!-- prs title wrapper Start -->
	<div class="prs_title_main_sec_wrapper">
		<div class="prs_title_img_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_title_heading_wrapper">
						<h2>{{ movie.title }}</h2>
						<ul>
							<li><a href="{% url 'home' %}">Home</a>
							</li>
							<li>&nbsp;&nbsp; >&nbsp;&nbsp; Movie Details</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs title wrapper End -->
	<!-- prs ms trailer wrapper Start -->
	<div class="prs_ms_trailer_vid_main_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_heading_section_wrapper">
						<h2>Movie Trailer</h2>
					</div>
				</div>
				<div class="col-lg-12 col-lg-12 col-lg-12 col-lg-12">
					{{ movie.trailer | safe }}
				</div>
				<div class="col-lg-12 col-lg-12 col-lg-12 col-lg-12">
					<div class="prs_ms_trailer_slider_main_wrapper">
						<div class="prs_ms_trailer_slider_left_wrapper">
							<div class="owl-carousel owl-theme">
                                {% if movie.img1 %}
								<div class="item">
									<div class="prs_ms_trailer_slider_left_img_wrapper">
										<img src="{{ movie.img1.url }}" alt="" height="468" width="250" >
									</div>
								</div>
                                {% endif %}
                                {% if movie.img2 %}
								<div class="item">
									<div class="prs_ms_trailer_slider_left_img_wrapper">
										<img src="{{ movie.img2.url }}" alt="" height="468" width="250" >
									</div>
								</div>
                                {% endif %}
                            {% if movie.img3 %}
								<div class="item">
									<div class="prs_ms_trailer_slider_left_img_wrapper">
										<img src="{{ movie.img3.url }}" alt="" height="468" width="250">
									</div>
								</div>
                                {% endif %}
                            {% if movie.img4 %}
								<div class="item">
									<div class="prs_ms_trailer_slider_left_img_wrapper">
										<img src="{{ movie.img4.url }}" alt="" height="468" width="200" >
									</div>
								</div>
                                {% endif %}

							</div>
						</div>
						<div class="prs_ms_trailer_slider_right_wrapper">
							<h2>{{ movie.r_date }}</h2>
							<p>{{ movie.director }}</p>
							<h2>{{ movie.title }}</h2>
							<h5><span>Starring -</span> Katirna Saif , Ajay Mehra , Nitin Kumar Senani, Parbesh Verma ,Sandy</h5>
							<ul>
								<li>Directed by - <span>{{ movie.director }}</span>
								</li>
								<li>Produced by - <span>{{ movie.pro_house }}.</span>
								</li>
							</ul><br>
							<a href="{% url 'confirmation' movie.id %}"><button type="button" class="btn btn-danger btn-lg">Book Now</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs ms trailer wrapper End -->


	<!-- prs theater Slider Start -->

	<div class="prs_movie_cast_main_slider_wrapper">

		<div class="prs_movie_cast_heading_wrapper">
			<h2>Movie Cast</h2>



		</div>

		<div class="wrap-album-slider">

			<ul class="movie-cast-slider">
{% for s in  casts %}
				<li class="album-slider__item">

					<figure class="album">
						<div class="prs_ms_cast_slider_cont_wrapper">

							<div class="prs_ms_cast_img_wrapper">

								<img src="{{s.img.url}}" alt="{{ s.name }}" height="250" width="250">
							</div>

							<div class="prs_ms_cast_img_cont_wrapper">
								<h4><a href="movie_single.html#">{{ s.name }}</a></h4>
							</div>

						</div>
					</figure>

					<!-- End album -->
				</li>
				{% endfor %}
				<!-- End album slider item -->

				<!-- End album slider item -->

				<!-- End album slider item -->
				<!-- End album slider item -->

				<!-- End album slider item -->

				<!-- End album slider item -->

				<!-- End album slider item -->
			</ul>
			<!-- End slider -->
		</div>
	</div>
	<!-- prs theater Slider End -->



	<!-- prs syn Slider Start -->
	<div class="prs_syn_main_section_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<div class="prs_syn_cont_wrapper">
						<h3>Synopsis</h3>
						<h4><span>Genre -</span> Action , Reality , Drama, Raching</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore a aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo const. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur at cupidatat non proident, sunt in culpa qui officia deserunt
							<br>
							<br>error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inveiere veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit ur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
							<br>
							<br>consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam sam quaerat voluptatem.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ipii eex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="prs_syn_img_wrapper">
						<img src="{% static 'images/content/movie_single/v1.jpg' %}" alt="syn_img">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs syn Slider End -->
	<!-- prs videos&photos slider Start -->
	<div class="prs_vp_main_section_wrapper prs_about_vp_main_section_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_heading_section_wrapper">
						<h2>Video & photos</h2>
					</div>
				</div>
				<div class="prs_vp_main_slider_wrapper">
					<div class="prs_vp_left_slidebar_wrapper">
						<div class="wrap-album-slider">
							<ul class="prs_vp_left_slider">
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="{% static 'images/content/vp1.jpg' %}" alt="vp_img">	<a href="{% static 'images/content/vp1.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="{% static 'images/content/vp2.jpg' %}" alt="vp_img">	<a href="{% static 'images/content/vp2.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="{% static 'images/content/vp3.jpg' %}" alt="vp_img">	<a href="{% static 'images/content/vp3.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="{% static 'images/content/vp4.jpg' %}" alt="vp_img">	<a href="{% static 'images/content/vp4.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="{% static 'images/content/vp5.jpg' %}" alt="vp_img">	<a href="{% static 'images/content/vp5.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="{% static 'images/content/vp6.jpg' %}" alt="vp_img">	<a href="{% static 'images/content/vp6.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
							</ul>
						</div>
					</div>
					<div class="prs_vp_center_slidebar_wrapper">
						<div class="prs_vp_center_slider">
							<div class="owl-carousel owl-theme">
								<div class="item">
									<div class="prs_vp_center_slider_img_wrapper">
										<img src="{% static 'images/content/vp7.jpg' %}" alt="vp_img">
									</div>
								</div>
								<div class="item">
									<div class="prs_vp_center_slider_img_wrapper">
										<img src="{% static 'images/content/vp7.jpg' %}" alt="vp_img">
									</div>
								</div>
								<div class="item">
									<div class="prs_vp_center_slider_img_wrapper">
										<img src="{% static 'images/content/vp7.jpg' %}" alt="vp_img">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="prs_vp_right_slidebar_wrapper">
						<div class="wrap-album-slider">
							<ul class="prs_vp_right_slider">
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="{% static 'images/content/vp6.jpg' %}" alt="vp_img">	<a href="{% static 'images/content/vp6.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="{% static 'images/content/vp5.jpg' %}" alt="vp_img">	<a href="{% static 'images/content/vp5.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="{% static 'images/content/vp4.jpg' %}" alt="vp_img">	<a href="{% static 'images/content/vp4.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="{% static 'images/content/vp3.jpg' %}" alt="vp_img">	<a href="{% static 'images/content/vp3.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="{% static 'images/content/vp2.jpg' %}" alt="vp_img">	<a href="{% static 'images/content/vp2.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
								<li class="album-slider__item prs_vp_hover_overlay">
									<figure class="album">
										<div class="prs_vp_img_overlay">
											<img src="{% static 'images/content/vp1.jpg' %}" alt="vp_img">	<a href="{% static 'images/content/vp1.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="fa fa-search"></i></a>
										</div>
									</figure>
									<!-- End album -->
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs videos&photos slider End -->
	<!-- prs ms scene slider Start -->
	<div class="prs_ms_scene_main_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_heading_section_wrapper">
						<h2>behind the scenes</h2>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_ms_scene_slider_wrapper">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="prs_ms_scene_slider_img">
											<img src="{% static 'images/content/movie_single/sc1.jpg' %}" alt="scene_img">
											<div class="prs_ms_scene_img_overlay">	<a href="{% static 'images/content/movie_single/sc1.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="flaticon-tool"></i></a>
											</div>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="prs_ms_scene_slider_img prs_ms_scene_slider_img2">
											<img src="{% static 'images/content/movie_single/sc4.jpg' %}" alt="scene_img">
											<div class="prs_ms_scene_img_overlay">	<a href="{% static 'images/content/movie_single/sc4.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="flaticon-tool"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="prs_ms_scene_slider_img">
											<img src="{% static 'images/content/movie_single/sc2.jpg' %}" alt="scene_img">
											<div class="prs_ms_scene_img_overlay">	<a href="{% static 'images/content/movie_single/sc2.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="flaticon-tool"></i></a>
											</div>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="prs_ms_scene_slider_img prs_ms_scene_slider_img2">
											<img src="{% static 'images/content/movie_single/sc5.jpg' %}" alt="scene_img">
											<div class="prs_ms_scene_img_overlay">	<a href="{% static 'images/content/movie_single/sc5.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="flaticon-tool"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="prs_ms_scene_slider_img">
											<img src="{% static 'images/content/movie_single/sc3.jpg' %}" alt="scene_img">
											<div class="prs_ms_scene_img_overlay">	<a href="{% static 'images/content/movie_single/sc3.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="flaticon-tool"></i></a>
											</div>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="prs_ms_scene_slider_img prs_ms_scene_slider_img2">
											<img src="{% static 'images/content/movie_single/sc6.jpg' %}" alt="scene_img">
											<div class="prs_ms_scene_img_overlay">	<a href="{% static 'images/content/movie_single/sc6.jpg' %}" class="venobox info" data-title="PORTFOLIO TITTLE" data-gall="gall12"><i class="flaticon-tool"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs ms scene slider End -->
	<!-- prs ms crew Start -->
	<div class="prs_ms_crew_main_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_heading_section_wrapper">
						<h2>Our Crew</h2>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="prs_ms_crew_left_cont_wrapper">
						<ul>
							<li>Director & Screenplay: <span>Johan Doe</span>
							</li>
							<li>Presented by: <span>Sandeep S</span>
							</li>
							<li>Producers: <span>Farhan S</span>
							</li>
							<li>Story: <span>Ajay S</span>
							</li>
							<li>Director of Photography: <span>Akshay H</span>
							</li>
							<li>Production Designer: <span>Johan Doe</span>
							</li>
							<li>Music Composer: <span>Farhan S</span>
							</li>
							<li>VFX Supervisor: <span>Shruti J</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="prs_ms_crew_left_cont_wrapper prs_ms_crew_left_cont_wrapper2">
						<ul>
							<li>Sound Design: <span>Johan Doe</span>
							</li>
							<li>Stunt Choreography: <span>Sandeep S</span>
							</li>
							<li>Additional Stunts: <span>Farhan S</span>
							</li>
							<li>Dance Choreographers: <span>Ajay S</span>
							</li>
							<li>Editor: <span>Akshay H</span>
							</li>
							<li>Costume Designers: <span>Johan Doe</span>
							</li>
							<li>Dialogues: <span>Farhan S</span>
							</li>
							<li>Music Composer: <span>Shruti J</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs ms crew End -->
	<!-- prs related movie slider Start -->
	<div class="prs_ms_rm_main_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_heading_section_wrapper">
						<h2>Director Related Movies</h2>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_ms_rm_slider_wrapper">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<div class="prs_upcom_movie_box_wrapper">
									<div class="prs_upcom_movie_img_box">
										<img src="{% static 'images/content/up1.jpg' %}" alt="movie_img" />
										<div class="prs_upcom_movie_img_overlay"></div>
										<div class="prs_upcom_movie_img_btn_wrapper">
											<ul>
												<li><a href="movie_single.html#">View Trailer</a>
												</li>
												<li><a href="movie_single.html#">View Details</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="prs_upcom_movie_content_box">
										<div class="prs_upcom_movie_content_box_inner">
											<h2><a href="movie_single.html#">Busting Car</a></h2>
											<p>Drama , Acation</p>	<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</div>
										<div class="prs_upcom_movie_content_box_inner_icon">
											<ul>
												<li><a href="movie_booking.html"><i class="flaticon-cart-of-ecommerce"></i></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="prs_upcom_movie_box_wrapper">
									<div class="prs_upcom_movie_img_box">
										<img src="{% static 'images/content/up2.jpg' %}" alt="movie_img" />
										<div class="prs_upcom_movie_img_overlay"></div>
										<div class="prs_upcom_movie_img_btn_wrapper">
											<ul>
												<li><a href="movie_single.html#">View Trailer</a>
												</li>
												<li><a href="movie_single.html#">View Details</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="prs_upcom_movie_content_box">
										<div class="prs_upcom_movie_content_box_inner">
											<h2><a href="movie_single.html#">Busting Car</a></h2>
											<p>Drama , Acation</p>	<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</div>
										<div class="prs_upcom_movie_content_box_inner_icon">
											<ul>
												<li><a href="movie_booking.html"><i class="flaticon-cart-of-ecommerce"></i></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="prs_upcom_movie_box_wrapper">
									<div class="prs_upcom_movie_img_box">
										<img src="{% static 'images/content/up3.jpg' %}" alt="movie_img" />
										<div class="prs_upcom_movie_img_overlay"></div>
										<div class="prs_upcom_movie_img_btn_wrapper">
											<ul>
												<li><a href="movie_single.html#">View Trailer</a>
												</li>
												<li><a href="movie_single.html#">View Details</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="prs_upcom_movie_content_box">
										<div class="prs_upcom_movie_content_box_inner">
											<h2><a href="movie_single.html#">Busting Car</a></h2>
											<p>Drama , Acation</p>	<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</div>
										<div class="prs_upcom_movie_content_box_inner_icon">
											<ul>
												<li><a href="movie_booking.html"><i class="flaticon-cart-of-ecommerce"></i></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="prs_upcom_movie_box_wrapper">
									<div class="prs_upcom_movie_img_box">
										<img src="{% static 'images/content/up4.jpg' %}" alt="movie_img" />
										<div class="prs_upcom_movie_img_overlay"></div>
										<div class="prs_upcom_movie_img_btn_wrapper">
											<ul>
												<li><a href="movie_single.html#">View Trailer</a>
												</li>
												<li><a href="movie_single.html#">View Details</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="prs_upcom_movie_content_box">
										<div class="prs_upcom_movie_content_box_inner">
											<h2><a href="movie_single.html#">Busting Car</a></h2>
											<p>Drama , Acation</p>	<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</div>
										<div class="prs_upcom_movie_content_box_inner_icon">
											<ul>
												<li><a href="movie_booking.html"><i class="flaticon-cart-of-ecommerce"></i></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs related movie slider End -->

  {% endblock %}