{% extends 'base.html' %}

{% load static %}
{% block body %}


	<!-- prs title wrapper Start -->
	<div class="prs_title_main_sec_wrapper">
		<div class="prs_title_img_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_title_heading_wrapper">
						<h2>Movie Booking</h2>
						<ul>
							<li><a href="movie_booking.html#">Home</a>
							</li>
							<li>&nbsp;&nbsp; >&nbsp;&nbsp; Movie Booking</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs title wrapper End -->
	<!-- prs video top Start -->
	<div class="prs_booking_main_div_section_wrapper">
	<div class="prs_top_video_section_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="st_video_slider_inner_wrapper float_left">
						<div class="st_video_slider_overlay"></div>
						<div class="st_video_slide_sec float_left">
							<a rel='external' href='https://www.youtube.com/embed/ryzOXAO0Ss0' title='title' class="test-popup-link">
								<img src="{% static 'images/index_III/icon.png' %}" alt="img">
							</a>
							<h3>Aquaman</h3>
							<p>ENGLISH, HINDI, TAMIL</p>
							<h4>ACTION | Adventure | Fantasy</h4>
							<h5><span>2d</span> <span>3d</span> <span>D 4DX</span> <span>Imax 3D</span></h5>
						</div>
						<div class="st_video_slide_social float_left">
						<div class="st_slider_rating_btn_heart st_slider_rating_btn_heart_5th">
								<h5><i class="fa fa-heart"></i> 85%</h5>
								<h4>52,291 votes</h4>
							</div>
							<div class="st_video_slide_social_left float_left">
								<ul>
									<li><a href="movie_booking.html#"><i class="fa fa-facebook-f"></i></a>
									</li>
									<li><a href="movie_booking.html#"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href="movie_booking.html#"><i class="fa fa-linkedin"></i></a>
									</li>
									<li><a href="movie_booking.html#"><i class="fa fa-youtube"></i></a>
									</li>
								</ul>
							</div>
							<div class="st_video_slide_social_right float_left">
								<ul>
									<li data-animation="animated fadeInUp" class=""><i class="far fa-calendar-alt"></i> 14 Dec, 2018</li>
									<li data-animation="animated fadeInUp" class=""><i class="far fa-clock"></i> 2 hrs 23 mins</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs video top End -->
	<!-- st slider rating wrapper Start -->
	<div class="st_slider_rating_main_wrapper float_left">
		<div class="container">
			<div class="st_calender_tabs">
				<ul class="nav nav-tabs">
                    {% for d, st in data %}
                        {% if forloop.counter == 3 %}
                            <li class="active">
                        {% else %}
                                <li>
                            {% endif %}
                            <a data-toggle="tab" href="#movie{{ forloop.counter }}"><span>{{ d }}</span></a>
					</li>{% endfor %}

				</ul>
			</div>
		</div>
	</div>
	<!-- st slider rating wrapper End -->
	<!-- st slider sidebar wrapper Start -->
	<div class="st_slider_index_sidebar_main_wrapper st_slider_index_sidebar_main_wrapper_booking float_left">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
					<div class="st_indx_slider_main_container float_left">
						<div class="row">
							<div class="col-md-12">
								<div class="tab-content">
                                    {% for d, st in data2 %}
									    {% if forloop.counter == 1 %}
                                            <div id="movie{{ forloop.counter }}" class="tab-pane active">
									    {% else %}<div id="movie{{ forloop.counter }}" class="tab-pane ">
										{% endif %}
                                            <div class="st_calender_contant_main_wrapper float_left">
											{% for t, ss in st %}
                                                <div class="st_calender_row_cont float_left">
												<div class="st_calender_asc">
													<div class="st_calen_asc_heart"><a href="movie_booking.html#">	<i class="fa fa-heart"></i></a>
													</div>
													<div class="st_calen_asc_heart_cont">
														<h3>{{ t }}</h3>
														<ul>
															<li>
																<img src="{% static 'images/content/fast-food.png' %}">
															</li>
															<li>
																<img src="{% static 'images/content/bill.png' %}">
															</li>
														</ul>
													</div>
												</div>
												<div class="st_calen_asc_tecket_time_select">
													<ul>
                                                        {% for s in ss %}
														<li>	<span>
															<h4>Rs.{{ s.Rs }}</h4>
															<p class="asc_pera1">Executive</p>
															<p class="asc_pera2">Filling Fast</p>
															</span>
															<a href="{% url 'seatbooking' s.id %}">{{ s.time }}</a>
														</li>{% endfor %}

													</ul>
												</div>
											</div>
                                                {% endfor %}
										</div>
									</div>
                                    {% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="prs_mcc_left_side_wrapper">
						<div class="prs_mcc_left_searchbar_wrapper">
							<input type="text" placeholder="Search Movie">
							<button><i class="flaticon-tool"></i>
							</button>
						</div>
						<div class="prs_mcc_bro_title_wrapper">
							<h2>browse title</h2>
							<ul>
								<li><i class="fa fa-caret-right"></i> &nbsp;&nbsp;&nbsp;<a href="movie_booking.html#">All <span>23,124</span></a> 
								</li>
								<li><i class="fa fa-caret-right"></i> &nbsp;&nbsp;&nbsp;<a href="movie_booking.html#">Action <span>512</span></a> 
								</li>
								<li><i class="fa fa-caret-right"></i> &nbsp;&nbsp;&nbsp;<a href="movie_booking.html#">Romantic <span>548</span></a> 
								</li>
								<li><i class="fa fa-caret-right"></i> &nbsp;&nbsp;&nbsp;<a href="movie_booking.html#">Love <span>557</span></a> 
								</li>
								<li><i class="fa fa-caret-right"></i> &nbsp;&nbsp;&nbsp;<a href="movie_booking.html#">Musical <span>554</span></a> 
								</li>
								<li><i class="fa fa-caret-right"></i> &nbsp;&nbsp;&nbsp;<a href="movie_booking.html#">Drama <span>567</span></a> 
								</li>
								<li><i class="fa fa-caret-right"></i> &nbsp;&nbsp;&nbsp;<a href="movie_booking.html#">Thriller <span>689</span></a> 
								</li>
								<li><i class="fa fa-caret-right"></i> &nbsp;&nbsp;&nbsp;<a href="movie_booking.html#">Horror <span>478</span></a> 
								</li>
							</ul>
						</div>
						<div class="prs_mcc_event_title_wrapper">
							<h2>Top Events</h2>
							<img src="{% static 'images/content/movie_category/event_img.jpg' %}" alt="event_img">
							<h3><a href="movie_booking.html#">Music Event in india</a></h3>
							<p>Pune <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
							</p>
							<h4>June 07 <span>08:00-12:00 pm</span></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>



{% endblock %}